.form {
  position: relative;
  margin-left: 10%;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 30px;
}

.profile {
  width: 15vw;
}

.app-right {
  width: 70vw;
  float:right;
}

.app-left {
  float:left;
}

/* .map {
  display: inline;
}

.total-app {
  display: flex;
  width: 100vw;
}



.map {
  width: 80vw;
} */