.form {
  position: relative;
  margin-left: 10%;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 10%;
  width: 15vw;
}

.profile {
  width: 15vw;
  position: relative;
  margin-left: 10%;
}

.app-right {
  width: 60vw;
  float:right;
}

.app-left {
  float:left;
  width: 10vw;
  padding-right: 200px;
}

.logo {
  width: 300px;
  border-radius: 30px;
}
